API_ENV=production
# API_ENV=env

API_PORT=5000 # (default)

BROKER_HOST=mosquitto
BROKER_PORT=1883 # (default)

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=5432 # (default)

# hardcoded client ID's
MQTT_MASTER_CLI_ID=mqtt_master_cli

# topics
QUEST_AUTH_TOPIC=quest/auth
QUEST_AUTH_CHECK_TOPIC=quest/{}/authCheck

TOKEN=

# Local api urls
API_QUESTS_URL=http://questRoomSrv_api:80/api/quests/

CONTROLLER_MQTT_USER=
CONTROLLER_MQTT_PASSWORD=

COM_MQTT_USER=
COM_MQTT_PASSWORD=

UI_MQTT_USER=
UI_MQTT_PASSWORD=
